# Use postgres/example user/password credentials
# run with: docker-compose -f stack.yml up
version: "3.1"

services:
    db:
        container_name: ${COMPOSE_PROJECT_NAME}_postgres
        image: postgres:12.6-alpine
        restart: "no"
        ports:
            - ${APP_POSTGRES_PORT}:5432
        volumes:
            - ./infrastructure/database-initialisation:/docker-entrypoint-initdb.d
            - ./.docker-compose/.persist/postgres:/var/lib/postgresql/data
        environment:
            - POSTGRES_DB=${APP_POSTGRES_DATABASE}
            - POSTGRES_SCHEMA_NAME=${APP_POSTGRES_SCHEMA}
            - POSTGRES_USER=${APP_POSTGRES_USER}
            - POSTGRES_PASSWORD=${APP_POSTGRES_PASSWORD}
